<table>
  <thead>
    <tr>
      <th ng-click="orderByValue = 'Name'; reverse=!reverse">Athlete</th>
      <th ng-click="orderByValue = 'TeamName'; reverse=!reverse">Team</th>
      <th ng-click="orderByValue = 'TeamName'; reverse=!reverse">Time</th>
      <th ng-click="orderByValue = 'FantasyCost'; reverse=!reverse">Points</th>
      <th ng-click="orderByValue = 'Name'; reverse=!reverse">Status</th>
    </tr>
  </thead>
  <tbody>
    <tr ng-class="{true:'active',false:''}[active.ID == player.ID]"
        ng-click="selectPlayer(player)" ng-repeat="player in challenge.FantasyChallenge.PositionOneAvailablePlayerList | orderBy:orderByValue:reverse">
      <td><img src="img/player.jpg" width="70" height="70"></td>
      <td>
        <span class="player-name">{{player.Name}}</span><br>
        <span class="player-team">{{player.TeamName}}</span>
      </td>
      <td>12/16</td>
      <td>{{player.FantasyCost}}</td>
      <td>
        <div ng-switch on="player.TeamName">
          <div ng-switch-when="San Antonio Spurs">
            Available
          </div>
          <div ng-switch-default>
            Other team
          </div>
        </div>
      </td>
    </tr>
  </tbody>
</table>
